
.todos-bg-container {
  background-color:brown;
  height: cover;
  text-align: cover;
}

.todos-heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 46px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  color: greenyellow;
}

.create-task-heading {
  font-family: "Roboto";
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  color:aqua
  
}

.create-task-heading-subpart {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color:aquamarine
}

.todo-items-heading {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-decoration: dotted;
  color:aquamarine
}

.todo-items-heading-subpart {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 500;
text-align: justify;
}

.todo-items-container {
  margin: px;
  padding: 0px;
}



.todo-user-input {
  background-color: white;
  width: 80%;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e7eb;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  text-align: center;
  padding-left: 30px;
  margin: 28px;
  text-align: center;
 
  padding-bottom: 20px;
}

.add-todo-button {
  color: white;
  background-color: #13a410;
  font-family: "Roboto";
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 10px;
  text-align: center;
}

.label-container {
  background-color: oldlace;
  width: 70%;
  border-style: solid;
  border-width: 5px;
  border-color: #096f92;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 4px;
  margin-left: 40px;
}

.checkbox-input {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 12px;
  
}

.checkbox-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  width: 82%;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  text-align: right;
}

.delete-icon-container {
  text-align: right;
  width: 100%;
}

.delete-icon {
  padding: 10px;
}

.checked {
  text-decoration: line-through;
}